</head>
  <body>
    <section id="wrapper">
      <header>
        <h1>Canadian EHsclusives</h1>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Contact" %></li>
            <li><%= link_to "Cart" %></li>
          </ul>
        </nav>
      </header>
      <%= image_tag "bark.png", :id => "divider" %>