</head>
  <body>
    
    <section id="wrapper">
      <header>
        <h1>Canadian EHsclusives</h1>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Contact" %></li>
            <%= render 'cart_count' %>
          </ul>
        </nav>
      </header>
      <section id="cart">
        <%= render @cart %>
      </section>
      <%= image_tag "bark.png", :id => "divider" %>