<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2> Your Shopping Cart</h2>
<section class="cart-item">
  <% @cart.cart_items.each do |item| %>
    <p><%= item.product.name %></p>
    <p>Quantity: <%= item.quantity %> @ <%= number_to_currency(item.product.price) %> ea.</p>
    <p>Total: <%= number_to_currency(item.product.price * item.quantity) %></p>
  <% end %>  
</section>
